<mat-tab-group>
    <mat-tab label="Orders">
        <ng-template matTabContent>
            <p>Orders here - Loaded: {{getTimeLoaded(1) | date:'medium'}}</p>
        </ng-template>
    </mat-tab>
    <mat-tab label="Shipments">
        <ng-template matTabContent>
            <p>Shipments here - Loaded: {{getTimeLoaded(2) | date:'medium'}}</p>
        </ng-template>

    </mat-tab>
    <mat-tab label="Archived">
        <ng-template matTabContent>
            <p>Archived here - Loaded: {{getTimeLoaded(3) | date:'medium'}}</p>
        </ng-template>
    </mat-tab>
</mat-tab-group>