<mat-horizontal-stepper #stepper [linear]="true">
    <mat-step [stepControl]="firstFormGroup" label="label1">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Enter recipient info</ng-template>
            <mat-form-field>
                <input matInput placeholder="Email" formControlName="emailCtrl" required>
            </mat-form-field>

            <mat-form-field>
                <input type="text" matInput  [matAutocomplete]="auto" placeholder="Priority" formControlName="priorityCtrl" required>
                <mat-autocomplete autoActiveFirstOption #auto=matAutocomplete>
                    <mat-option *ngFor="let priority of priorities" [value]="priority">{{priority}}</mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field>
                <input type="text" matInput  [matAutocomplete]="auto2" placeholder="Departments" formControlName="deptCtrl" required>
                <mat-autocomplete autoActiveFirstOption #auto2=matAutocomplete [displayWith]="getDeptNameFn">
                    <mat-option *ngFor="let dept of departments" [value]="dept">{{dept.name}}</mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <div>
                <button mat-icon-button matStepperNext><mat-icon>arrow_forward</mat-icon></button>
            </div>
        </form>
        
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="label2">
        <form [formGroup]="secondFormGroup">
            <mat-form-field>
                <input matInput placeholder="Message" formControlName="messageCtrl" required>
            </mat-form-field>
            <div>
                <button mat-icon-button matStepperPrevious><mat-icon>arrow_back</mat-icon></button>
                <button mat-icon-button matStepperNext><mat-icon>mail_outline</mat-icon></button>
            </div>
        </form>
    </mat-step>

    <mat-step [optional]="true" label="label2">
        <ng-template matStepLabel>Previewx</ng-template>
        <p>Message sent!</p>
        <div>
            <button mat-icon-button matStepperPrevious><mat-icon>arrow_back</mat-icon></button>
            <button mat-icon-button (click)="stepper.reset()"><mat-icon>refresh</mat-icon></button>

        </div>
    </mat-step>
</mat-horizontal-stepper>